* {
    margin: 0;
    /* color: white; */
    /* box-sizing: border-box; */
}

a {
    color: white;
    text-decoration: none;

}

/* GLOBAL CSS */
.global_background_div {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 1000px;
    color: white;
    background-color: rgb(107, 106, 106);
}

.valide_div_container {
    padding: 0;
    width: fit-content;
    margin: auto;
    transition: all 0.2s ease;
}

/* HEADER CSS */
.header_container {
    display: flex;
    justify-content: space-between;
    background-color: brown;
    min-width: 100%;
    height: 70px;
}

.header_container a {
    display: flex;
    margin: auto;
    margin-left: 15px;
}

.header_container a h3 {
    margin: auto;
    margin-left: 10px;
}

.div_image_login {
    display: flex;
    min-width: 70px;
    margin: auto;
    margin-right: 5px;
}

.input_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_div input {
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 18px;
    width: 80%;
    height: 40px;
}

.input_div textarea {
    display: block;
    background-color: rgb(59, 59, 59);
    box-sizing: padding-box;
    overflow: hidden;
    padding: 10px;
    width: 250px;
    font-size: 14px;
    min-height: 42.125px;
    margin: 50px auto;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);

}

.submit_input_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.submit_input_div input {
    width: 50%;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 18px;

}

textarea:focus {
    border: none;
    outline: none;
}


.input_div label {
    min-width: 100px;
    margin-bottom: 5px;
    font-size: 20px;
}

/* LOGIN PAGE */
.login_div_button div {
    width: fit-content;
    margin: auto;
}

.login_div_button div a {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    transition: all 0.2s ease;
}

.login_div_button div a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.2s ease;
}

/* SECTION MESSAGE */
.body_index {
    height: 80vh;
}

.background_main {
    height: 95%;
}

.message_section {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 95%;
    min-height: 97%;
    max-height: 97%;
    overflow: scroll;
    scrollbar-width: none;
    margin: auto;
    margin-top: 15px;
    box-shadow: 0px 10px 13px -7px #000000, -2px 5px 20px 8px rgba(0, 0, 0, 0.46);
    border-radius: 8px;
}

.message_display_div {
    width: 90%;
    margin-left: 5px;
    padding-top: 10px;
}

.background_opac {
    opacity: 20%;
}

.create_message_form {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
}

#create_message_textarea {
    width: 90%;
    border: 1px solid black;
    opacity: 100%;
    transition: all 0.2s;
}

.message_textarea_selected {
    position: absolute;
    top: 30%;
    left: 10%;
}


/* RESPONSIVE DESKTOP */

@media only screen and (min-device-width : 1024px) {
    .input_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .input_div input {
        width: 50%;
        height: 40px;
    }

    .submit_input_div input {
        width: 50%;
        height: 40px;
        border-radius: 8px;
        margin-bottom: 10px;
        background-color: rgb(59, 59, 59);
    }


}

@media only screen and (min-device-width : 1685px) {
    .input_div input {
        width: 35%;
        height: 35px;
    }

    .submit_input_div input {
        width: 35%;
        height: 35px;
    }

    .enableforphone {
        display: none;
    }

}